extends ./layout.jade
block content
  title ABCUSD CAC Information
  body(bgcolor='#A4E7EB')
    section.content
      #cacHeader.clearfix
        a(href='/')
          h1 Back to the Homepage⇨
        a(href='/')
          img#logo(src='/static/img/logo.png')
      #cacMain
        #officers
          .subBoxTopBar
            h2 CAC Board Members
          .contentBox
            #members
                each member in members
                  ul
                    each key, value in member
                      li #{value.slice(2)}: #{key} 
        #events
          .subBoxTopBar
            h2 Upcoming Events
          .contentBox
            #calender
              h3#eventInfo
                | Workshops
                br
                | 							2015-2016
                br
                | 							6:00 - 6:30 p.m. Pizza
                br
                | 							6:30 - 8:00 p.m. Presentation
              
                