extends ./layout.jade
block content
  title ABCUSD CAC Information
  body(bgcolor='#A4E7EB')
    section.content
      #header
        a(href='/')
          h1 Back to the Homepage⇨
        a(href='/')
          img(src='/static/img/logo.png')
      #main
        #officers
          .subBoxTopBar
            h2 CAC Members
          .contentBox
            #members
              h3 2014-2016 Term
              ul
                li
                  | Clara Kim
                  br
                  | 										(562)-715-9696 (C)
                  br
                  | 										cdbk79@yahoo.com
                li
                  | Narciso Villegas
                  br
                  | 										(562)-413-8972 (C)
                  br
                  | 										narciso.villegas96@gmail.com
                li
                  | Maria Pia Avendano
                  br
                  | 										(562)-674-7422 (C)
                  br
                  | 										mariapia_ava@hotmail.com
              h3 2015-2017 Term
              ul
                li
                  | Katherine Patel
                  br
                  | 										(714)-402-7186 (C)
                  br
                  | 										katherinepatel@yahoo.com
                li
                  | Evelyn Rodriguez
                  br
                  | 										(562)-348-6480
                  br
                  | 										epamela31@gmail.com
        #events
          .subBoxTopBar
            h2 Upcoming Events
          .contentBox
            #calender
              h3#eventInfo
                | Workshops
                br
                | 							2015-2016
                br
                | 							6:00 - 6:30 p.m. Pizza
                br
                | 							6:30 - 8:00 p.m. Presentation
              .event
                h3 Date:
                | 							Thursday October 8, 2015
                h3 ABCs of IEPs:
                | 							Building your child's IEP Binder
                h3 Location:
                | 							Fedde International
                br
                | 							Studies Academy
              .event
                h3 Date:
                | 							Tuesday October 27, 2015
                h3 IEP Team Panel - Q&A
                | 							Tips for Effective Communication
                h3 Location:
                | 							Haskell Middle School
              .event
                h3 Date:
                | 							Wednesday February 3, 2016
                h3
                  | 10 legal protections
                  br
                  | for
                  | 								children with
                  br
                  | 								special needs
                br
                h3 Location:
                | 							Distict Office
              .event
                h3 Date:
                | 							Thursday March 10, 2016
                h3 Transition from High School
                | 							Panel Presentation
                h3 Location:
                | 							Cerritos High School
              .event
                h3 Date:
                | 							Wednesday May 18, 2016
                h3
                  | Summer Activites
                  br
                  | 							in your community
                  br
                  | 							for children with
                  br
                  | 							special needs
                br
                h3 Location:
                | 							District Office
              .event
                h3 Date:
                | 							Wed/Thurs May 18/19, 2016
                h3 Literacy Activity
                | 							Book Fair
                h3 Location:
                | 							District Office