script(src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js")  
script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js")
script(src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous")
script(type='text/javascript', src='static/script/slick/slick.min.js')
script(src="static/script/slickControls.js")
script(type='text/javascript', src='static/script/staffListScriptIndex.js')
script(type='text/javascript', src='static/script/socialScript.js')
script(type='text/javascript', src='static/script/parentResourceScript.js')
script(type='text/javascript', src='static/script/updateDatabase.js')
