link(rel='stylesheet', href='static/script/slick/slick.css')
link(rel='stylesheet', href='static/script/slick/slick-theme.css')
link(rel='stylesheet', type='text/css', href='/static/css/style.css')
link(rel='stylesheet', type='text/css', href='/static/css/cacPage.css')
link(rel='stylesheet', type='text/css', href='/static/css/parentResources.css')