html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

#cacHeader {
  height: 20vh;
  width: 90%;
  margin: 0 auto;
  background: #4682b4;
  box-shadow: -7px 9px 7px 0 #9e9e9e; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    #cacHeader {
      height: 12vh; } }

h1 {
  float: left;
  font-style: italic;
  font-size: 3vw;
  color: white;
  margin: 0 0 0 3%;
  padding: 8% 0 0 0; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    h1 {
      font-size: 7vw; } }
  @media only screen and (min-device-width: 375px) and (orientation: landscape) {
    h1 {
      font-size: 6vw;
      padding: 0%;
      line-height: 20vh; } }

a img {
  padding: 0;
  height: 100%;
  width: 18%;
  border-radius: 0%;
  float: right; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    a img {
      display: none; } }

#cacMain {
  height: 78vh;
  width: 90%;
  margin: 0 auto;
  background: white;
  box-shadow: -7px 7px 5px 0 #9e9e9e; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    #cacMain {
      height: 100%; } }

#officers {
  width: 45%;
  height: 65vh;
  background: #4682b4;
  box-shadow: -7px 9px 7px 0 #9e9e9e;
  float: left;
  margin: 3% 1% 1% 3%; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    #officers {
      float: none;
      width: 96%;
      box-shadow: none;
      margin: 2% 2%;
      display: inline-block; } }

.subBoxTopBar {
  width: 98%;
  height: 10%;
  background: white;
  margin: 3% 1%; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    .subBoxTopBar {
      margin: 2% auto; } }

@media only screen and (min-device-width: 375px) and (orientation: portrait) {
  h2 {
    margin: 0%; } }

.contentBox {
  height: 52vh;
  width: 98%;
  background: white;
  margin: 5% 1% 0 1%;
  overflow: auto; }

#events {
  width: 45%;
  height: 65vh;
  background: #4682b4;
  box-shadow: -7px 9px 7px 0 #9e9e9e;
  float: right;
  margin: 3% 3% 1% 1%; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    #events {
      float: none;
      width: 96%;
      box-shadow: none;
      margin: 2% 2%;
      display: inline-block; } }

.subBoxTopBar {
  width: 98%;
  height: 10%;
  background: white;
  margin: 3% 1%; }
  @media only screen and (min-device-width: 375px) and (orientation: portrait) {
    .subBoxTopBar {
      margin: 2% auto; } }
  .subBoxTopBar h2 {
    font-size: 1.5vw;
    text-align: center;
    padding: 3% 0 0 0;
    display: block; }

/* Styles for CAC Member lists */
#members {
  width: 100%;
  font-size: 1.3vw; }
  #members h3 {
    font-size: 1.5vw;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: underline; }
  #members ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block; }
  #members li {
    margin: 5% 0 5% 20%;
    line-height: 3vh; }

/* Styles for CAC events */
#calender {
  width: 90%;
  margin: 0 auto;
  overflow: auto; }
  #calender #eventInfo {
    border: none;
    text-align: center;
    line-height: 3vh; }
  #calender .event {
    margin: 5% auto 7%;
    display: block;
    text-align: center;
    line-height: 2vh;
    font-size: 1.1vw;
    border: 1px solid black;
    padding: 3% 0 3%; }
  #calender h3 {
    width: 65%;
    margin: 3% auto;
    border-bottom: 1px solid black;
    font-size: 1.3vw; }

/*# sourceMappingURL=cacPage.css.map */
